.heading {
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.contact {
  width: 50%;
  margin: auto;
  padding-bottom: 5rem;
}

.contact form {
  text-align: center;
  padding: 1rem;
  border: 0.3rem solid var(--color-light-grey);
  border-radius: 55px;
}

.contact form .inputBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
  padding: 1.5rem;
  font-size: 1.7rem;
  /* background: #ffe8cc; */
  text-transform: none;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 49%;
}

.contact form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}

.btn {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 10rem;
}

.btn:hover {
  color: var(--color-grey);
  background-color: var(--color-light-grey);
}
