.questions-container {
  padding: 4rem;
}

.questions {
  text-align: center;
  align-items: center;
  display: flex;
}

.questions-header {
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

.question {
  font-size: 2rem;
}
