@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Luxurious+Script&family=Nunito:wght@200;300;400;600;700&family=Oswald:wght@200&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;700;900&display=swap");

.logo {
  font-family: "Dancing Script", cursive;
  font-family: "Dancing Script", cursive, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3rem;
}

.logo:hover {
  color: #495057;
  cursor: pointer;
}

@media screen and (max-width: 794px) {
  .logo {
    font-size: 1.5rem;
    margin-right: 7rem;
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .lg\:hidden {
    display: none !important;
  }
}

@media screen and (max-width: 794px) {
  .navbar-links,
  .social-links,
  .language {
    display: none;
  }
}

@media screen and (max-width: 1372px) {
  .social-links,
  .language {
    display: none;
  }
}

/* For medium and small screens */
@media (max-width: 768px) {
  .overflow-y-scroll {
    overflow-y: visible;
  }

  .coaching-section {
    margin-bottom: 50rem;
  }

  .coaching-title {
    margin-top: 20px;
  }

  .work-section {
    margin-top: 20rem;
  }

  .questions-title {
    margin-bottom: 3rem;
  }

  .prev-button,
  .next-button {
    width: 20%;
    margin: auto;
  }
}

/* For large screens */
@media (min-width: 769px) {
  .overflow-y-scroll {
    overflow-y: scroll;
  }
}

@media (max-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: 1fr;
  }
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.polygon {
  fill: none;
  stroke: #a0aec0;
  stroke-width: 3;
}

.hovered-polygon {
  stroke: #495057;
  stroke-width: 4;
  box-shadow: #495057;
  cursor: pointer;
}
