@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Luxurious+Script&family=Nunito:wght@200;300;400;600;700&family=Oswald:wght@200&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;700;900&display=swap");

:root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Open Sans", sans-serif;

  --color-black: #0c0c0c;
  --color-grey: #f0f0f0;
  --color-white: #ffffff;
  --color-dark-grey: #343a40;
  --color-light-grey: #495057;
}

body {
  @apply bg-secondary;
}

nav.header {
  @apply bg-secondary drop-shadow relative;
  z-index: 9999;
}

nav.header.sticky {
  @apply bg-secondary/80 backdrop-blur;
  position: fixed;
  top: 0;
  width: 100%;
}

.mobile-nav {
  @apply fixed left-0 top-0 z-50 flex h-screen w-full flex-col bg-secondary transition duration-500 ease-in-out;
}

.logo {
  @apply cursor-pointer text-[2rem] hover:text-primary/90 2xl:text-[3rem];
  font-family: "Dancing Script", cursive, sans-serif;
}

/* @media screen and (max-width: 794px) {
  .navbar-links,
  .social-links,
  .language {
    display: none;
  }
}

@media screen and (max-width: 1372px) {
  .social-links,
  .language {
    display: none;
  }
} */

/* For medium and small screens */
@media (max-width: 768px) {
  .overflow-y-scroll {
    overflow-y: visible;
  }

  .coaching-section {
    margin-bottom: 50rem;
  }

  .coaching-title {
    margin-top: 20px;
  }

  /* .work-section {
    margin-top: 10rem;
  } */

  .questions-title {
    margin-bottom: 3rem;
  }

  .prev-button,
  .next-button {
    width: 20%;
    margin: auto;
  }
}

/* For large screens */
@media (min-width: 769px) {
  .overflow-y-scroll {
    overflow-y: scroll;
  }
}

@media (max-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: 1fr;
  }
}

@keyframes jumpIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-20%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.sliding-paragraph {
  animation: jumpIn 2s ease-out 1;
}
