.container {
  width: 100%;
  height: 25rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15rem;
  background-color: #ffe8cc;
}
.top-left {
  position: absolute;
  top: -13rem;
  left: 3rem;
  display: inline-block;
}

.middle {
  position: absolute;
  top: 10rem;
  left: 4rem;
  bottom: 6rem;
  right: 6rem;
  margin: auto;
  text-align: center;
  justify-content: center;
  background-color: #ffe8cc;
}

.bottom-right {
  position: absolute;
  bottom: -10rem;
  right: 3rem;
  justify-content: center;
}

.quote-text {
  font-size: 32px;
  font-weight: bold;
  background-color: #ffe8cc;
  margin-bottom: 1rem;
  display: block;
}

.quote-author {
  font-size: 24px;
  font-weight: bold;
  background-color: #ffe8cc;
}

/* .top-container {
  width: 60px;
  text-align: right;
  display: inline-block;
} */

.top-text {
  position: relative;
  left: 40rem;
  top: -9rem;
  width: 25rem;
  font-size: 24px;
  font-weight: 600;
}

.top-wrapper {
  display: flex;
}
