.container {
  width: 100%;
  height: 25rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23rem;
  background-color: #ffe8cc;
}

.top-left {
  position: absolute;
  top: -6rem;
  left: 3rem;
  background-color: #ffe8cc;
}

.middle {
  position: absolute;
  top: 17rem;
  left: 5rem;
  bottom: 6rem;
  right: 6rem;
  margin: auto;
  text-align: center;
  justify-content: center;
  background-color: #ffe8cc;
}

.bottom-right {
  position: absolute;
  bottom: -18rem;
  right: 3rem;
}

.quote-text {
  font-size: 32px;
  font-weight: bold;
  background-color: #ffe8cc;
  margin-bottom: 1rem;
  display: block;
}

.quote-author {
  font-size: 24px;
  font-weight: bold;
  background-color: #ffe8cc;
}

.top-text-container {
  position: relative;
  top: -3rem;
  right: -40rem;
  width: 90%;
}

.bottom-text-container {
  position: absolute;
  bottom: -15rem;
  right: -23rem;
  width: 90%;
}

.top-text-title {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2rem;
  display: inline-block;
}

.bottom-text-title {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2rem;
  display: inline-block;
}

.top-text-content {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}

.bottom-text-content {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}

.top-wrapper {
  display: flex;
}

.button-wrapper {
  display: block;
  margin-top: 1rem;
}

.first-paragraph,
.second-paragraph {
  width: 40%;
  font-size: 16px;
  font-weight: 600;
}

.first-paragraph {
  margin-bottom: 0.5rem;
}
