@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Luxurious+Script&family=Nunito:wght@200;300;400;600;700&family=Oswald:wght@200&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;700;900&display=swap");

.header_background {
  background-size: cover;
  width: 80%;
  height: 50rem;
  opacity: 0.8;
}

.header_container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
