@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Luxurious+Script&family=Nunito:wght@200;300;400;600;700&family=Oswald:wght@200&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;700;900&display=swap");

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--color-dark-grey);
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Dancing Script";
  font-size: 3rem;
}

.navbar-logo:hover {
  color: var(--color-light-grey);
  cursor: pointer;
}

.navbar-links {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  list-style: none;
}

.navbar-links li a {
  padding: 0.5rem;
}

.navbar-links li,
.social-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.social-links {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: sight;
  font-size: 3rem;
  list-style: none;
}

.navbar-links li a:hover {
  color: var(--color-white);
  background-color: var(--color-dark-grey);
  border-radius: 10px;
}

.social-links li {
  font-size: 2.3rem;
}

.social-links li:hover {
  color: var(--color-light-grey);
}

.navbar-smallscreen {
  display: none;
}

.navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-grey);
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;
}

.navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar-smallscreen_links {
  list-style: none;
}

.navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  color: var(--color-black);
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-base);
}

.app__navbar-smallscreen_links li:hover {
  color: var(--color-dark-grey);
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .navbar-links,
  .social-links {
    display: none;
  }

  .navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-login {
    display: none;
  }
}
