.oneToOne_section {
  display: flex;
  justify-content: space-between;
  height: 40rem;
}

.oneToOne-left-container {
  width: 65%;
  background-color: #ffe8cc;
}

.oneToOne-right-container {
  width: 45%;
  background-color: #ffe8cc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0;
  margin-left: -4.3rem;
  overflow-y: auto;
  max-height: 100%;
}

.oneToOne-right-container p {
  background-color: #ffe8cc;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.oneToOne-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  padding-top: 1rem;
  background-color: #ffe8cc;
}

.oneToOne-content {
  font-size: 24px;
  font-weight: bold;
}

.left-image {
  padding: 50px;
  background-color: var(--color-dark-grey);
  height: 100%;
}
